<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>cryptopotamus <%= htmlWebpackPlugin.files.chunks.main.hash %></title>
  </head>
  <body>
    <div id="hello"></div>
    <div id="world"></div>
  </body>
</html>
